$blue: #004A80;
$yellow-light: #F2DA56;
$yellow: #F6BC25;
$yellow-dark: #A6953B;
$gray: #4A4A4A;
$gray-lighter: #F8F8F8;
$gray-light: #999999;

.blue-background {
  background-color: $blue;
}

.gray-background {
  background-color: $gray-lighter;
}

.red-background {
  background-color: red;
  padding: 0.3rem;
  color: white;

  @media only screen and (max-width: 768px) {
    margin-right: auto;
    display: flex;
  }
}

.margin-right {
  margin-right: 1rem;
}

.margin-top {
  padding-top: 1rem;
}

.align-center {
  margin: auto;
  text-align: center;
}

.align-right {
  margin-left: auto;
}

.align-item {
  align-items: center;
}

.text-yellow {
  color: $yellow;
}

.text-blue {
  color: $blue;
}

.text-gray {
  color: $gray;
}

.text-gray-light {
  color: $gray-light;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: bold;
}

.space-botton-4x {
  padding-bottom: 4rem;
}

.space-top-4x {
  padding-top: 4rem;
}

p {
  margin-bottom: 0 !important;
}

.font-22 {
  font-size: 1.375rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.125rem;
  }
}
.font-24 {
  font-size: 1.5rem;

  @media only screen and (max-width: 768px) {
    font-size: 1.125rem;
  }
}

.email-error {
  border: 2px solid red !important;
}

.font-18 {
  font-size: 1.125rem;
}

.font-16 {
  font-size: 1rem;
}

.font-14 {
  font-size: 0.875rem;
}

.margin-botton {
  padding-bottom: 1rem;
}

.button-yellow {
  padding: 0.3rem 2.5rem;
  border-radius: 2.5rem;
  border-bottom: 5px solid $yellow-dark;
  background-color: $yellow;
  color: $blue;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;

  &:hover {
    background-color: $yellow-light;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.input {
  padding: 1.5rem .75rem !important;
}

.wrapper, 
.nav-wrapper {
  margin: 0 12rem;  

  @media only screen and (max-width: 1024px) {
    margin: 0 5rem; 
  }

  @media only screen and (max-width: 768px) {
    margin: 0 2rem; 
  }
}

.nav-wrapper {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  @media only screen and (max-width: 768px) {
    margin: 0; 
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media only screen and (max-width: 768px) {
    display: inline; 
  }
  
  .flex-content-icon {
    flex: 1 0 10%;

    @media only screen and (max-width: 768px) {
      display: none; 
    }

    img {
      width: 85%;
    }
  }

  .flex-content-50 {
    flex: 1 0 30%;
  }

  .flex-content-info {
    flex: 1 0 90%;
  }
}

.numberCircle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 8px;
  background: $blue;;
  color: $yellow;
  text-align: center;
  font-size: 48px;
  font-weight: bold;

  @media only screen and (max-width: 768px) {
    width: 50px;
    height: 50px;
    font-size: 26px;
  }
}

.flex-circle {
  flex: 1 0 30%;

  @media only screen and (max-width: 768px) {
    flex: 1 0 13%;
  }
}

.flex-content {
  flex: 1 0 70%;

  @media only screen and (max-width: 768px) {
    flex: 1 0 80%;
  }
}

.terms-text {
  @media only screen and (max-width: 768px) {
    text-align: center;
    padding-top: 1rem;
  }
}

.align-box {
  margin: auto;
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

.spinner {
  display: flex;
  flex-direction: column;
  margin: auto;
  
  @media only screen and (max-width: 768px) {
    width: 40%;
  }
}

.info-container {
  width: 100%;
  background-color: white;
  padding: 2rem;
  height: auto;
  box-shadow: 2px 2px 10px #666;
  border-radius: 15px;
}

.response-padding {
  padding: 90px 0 120px;
}




