$blue: #004A80;
$yellow-light: #F2DA56;
$yellow: #F6BC25;
$yellow-dark: #A6953B;
$gray: #4A4A4A;
$gray-lighter: #E6E6E6;
$gray-light: #999999;

.blue-background {
  background-color: $blue;
}

.gray-background {
  background-color: $gray-lighter;
}

.margin-right {
  margin-right: 1rem;
}

.margin-top {
  padding-top: 1rem;
}

.align-center {
  margin: auto;
  text-align: center;
}

.align-right {
  margin-left: auto;
}

.align-item {
  align-items: center;
}

.text-yellow {
  color: $yellow;
}

.text-blue {
  color: $blue;
}

.text-gray {
  color: $gray;
}

.text-gray-light {
  color: $gray-light;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: bold;
}

.space-botton-4x {
  padding-bottom: 4rem;
}

.space-top-4x {
  padding-top: 4rem;
}

p {
  margin-bottom: 0 !important;
}

.font-22 {
  font-size: 22px;

  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}
.font-24 {
  font-size: 24px;

  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}

.email-error {
  border: 2px solid red !important;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.margin-botton {
  padding-bottom: 1rem;
}

.button-yellow {
  padding: 5px 40px;
  border-radius: 5px;
  border-bottom: 5px solid $yellow-dark;
  background-color: $yellow;
  color: $blue;
  font-weight: bold;
  font-size: 24px;
  margin-left: 1rem;

  &:hover {
    background-color: $yellow-light;
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.input {
  padding: 1.5rem .75rem !important;
}

.wrapper, 
.nav-wrapper {
  margin: 0 12rem;  

  @media only screen and (max-width: 1024px) {
    margin: 0 5rem; 
  }

  @media only screen and (max-width: 768px) {
    margin: 0 2rem; 
  }
}

.nav-wrapper {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  @media only screen and (max-width: 768px) {
    margin: 0; 
  }
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.numberCircle {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 8px;
  background: $blue;;
  color: $yellow;
  text-align: center;
  font-size: 48px;
  font-weight: bold;

  @media only screen and (max-width: 768px) {
    width: 50px;
    height: 50px;
    font-size: 26px;
  }
}

.flex-circle {
  flex: 1 0 30%;
}

.flex-content {
  flex: 1 0 70%;
}

.terms-text {
  @media only screen and (max-width: 768px) {
    text-align: center;
    padding-top: 1rem;
  }
}




